<div class="login visible bg-1">
  <div class="login bg visible bg-2"></div>
  <div class="login bg visible bg-3"></div>
  <div class="login bg visible bg-4"></div>

  <div class="login-form-box">
    <form class="login-form" action="<%= session_url %>" method="post">
      <h2 class="login-header">Dogstagram</h2>

      <div class="error">
        <%= flash[:errors].join("<br>").html_safe if flash[:errors] %>
      </div>

      <input
        type="hidden"
        name="authenticity_token"
        value="<%= form_authenticity_token %>">

      <input type="text" placeholder="Username" name="user[username]">
      <input type="password" placeholder="Password" name="user[password]">
      <input class="login-submit" type="submit" value="Log In">

      <div class="login-divider">
        <div class="divider-line"></div>
        <div class="or">OR</div>
        <div class="divider-line"></div>
      </div>

    </form>

    <div class="sign-up-link">
    <p>Don't have an account? <a href="/users/new">Click here</a> to sign up.</p>
    </div>

    <form class="guest-login" action="<%= session_url %>" method="post">
      <input
        type="hidden"
        name="authenticity_token"
        value="<%= form_authenticity_token %>">

      <input type="hidden" name="user[username]" value="herrokitty">
      <input type="hidden" name="user[password]" value="kittykitty">
      <input class="guest-login-submit" type="submit" value="Log In As Guest">
    </form>
  </div>
</div>

<script>
  document.addEventListener("DOMContentLoaded", function(event) {
    var backgrounds = document.getElementsByClassName("bg");
    var i = backgrounds.length;

    window.setInterval(function() {
      i -= 1;

      if (i === -1) {
        i += backgrounds.length;

        for (var j = 0; j < backgrounds.length; j++) {
          backgrounds[j].classList.toggle("hidden");
          backgrounds[j].classList.toggle("visible");
        }

        i++;
      } else {
        backgrounds[i].classList.toggle("hidden");
        backgrounds[i].classList.toggle("visible");
      }
    }, 5000);
  });
</script>
